.line-graph{
    padding: 5px 0;
}

.color-box{
    background-color: rgb(75, 192, 192); 
    height: 10px; 
    width: 40px;
    border-radius: 5px;
    position: relative;
    top: 40px;
    left: 80px;
    margin-top: -10px;
}

.graph-label {
    position: relative;
    left: 135px;
    top: 0px;
}

.detail-buttons{
    width: 75px;
	height: 25px;
	font-size: 11px;
	border-radius: 5px;
	border: 2px solid white;
	background-color: transparent;
	color: white;
	cursor: pointer;
    margin: 0 5px;
    margin-left: 10px;
}

.detail-buttons:hover{
    position: relative;
    top: 1px;
    left: .2px;
}

.button-container{
    position: relative;
    margin: 0 10px 0 10px;
}