.card {
  border-radius: 16px;
  z-index: 0;
  margin: 0 auto;
  width: 90%;
  max-width: 100%;
  margin-bottom: 30px;
  min-height: 60px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  background-color: rgb(50, 50, 50);
  background-size: cover;
}

.info {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #fff;
  transform: translateY(100%)
    translateY(-15px)
    translateZ(0);
  transition: transform 0.4s ease-out;
}

.info:before {
  z-index: -1;
  display: block;
  position: absolute;
  content: ' ';
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(https://source.unsplash.com/collection/905011/1000x1000);
  filter: blur(10px);
  background-size: cover;
  opacity: 0.25;
  transform: translateY(-100%)
    translateY(15px)
    translateZ(0);
  transition: transform 0.4s ease-out;
}

.card:hover .info,
.card:hover .info:before {
  transform: translateY(0) translateZ(0);
}


.title {
  margin: 0;
  padding: 5px 20px;
  font-size: 18px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.87);
}

.log-details{
  color:black;
  display: flex; 
  justify-content:left;
  margin-top: -14px;
  margin-bottom: 10px;
  width: fit-content;
}

.log-details p{
  margin-right: 10px;
}

.extra-details{
  display: flex; 
  justify-content:left;
  float: left;
  width: fit-content;
}