.avatar{
    position: static;
    margin-top: 150px;
    margin-left: 150px;
     width: 250px;
     height: 250px;
     border-radius: 50%;
     border:5px solid white;
     box-shadow: 10px 10px 7px rgb(0, 0, 0, 0.5);
     object-fit:cover;
}

.details{
    position: static;
    margin-left: 250px;
    color: white;
}

.edit-avatar-button{
    height: 30px;
    position: relative;
    margin-left: -30px;
    top: 0px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
    border-radius: 50%;
}

.edit-avatar-button:hover{
    position:relative;
    top:-1px;
    cursor: pointer;
}